


*

* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
	font-size: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
	background: #f6fbfe;
}

@font-face {
	font-family: hts;
	src: url(../css/hts.ttf);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.box {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	line-height: 80px;
	background: #FFFFFF;
	box-shadow: 2px 3px 5px #CCCCCC;
}

.logo {
	float: left;
	width: 20%;
	text-align: center;
}

.logo h3 {
	font-family: 'hts';
	font-size: 32px;
	color: #4dac98;
}

.nav {
	float: right;
	width: 80%;
}

.nav ul {
	float: right;
}

.nav ul li {
	display: inline-block;
	margin-right: 80px;
}

.nav ul li a {
	color: #333333;
}

/* .nav ul .active a {
	color: #4dac98;
} */

.nav ul li a:hover {
	color: #4dac98;
}

.box-left {
	width: 20%;
	height: 100%;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 3px 5px 10px #CCCCCC;
}

.box-left img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 150px auto 80px auto;
    transition: transform 0.3s ease;
}

.box-left img:hover {
    transform: scale(1.1);
}


.box-left h3 {
	font-size: 30px;
	margin-bottom: 60px;
}

.box-left p {
	margin: 20px 0;
	font-size: 16px;
}

.box-right {
	width: 80%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.title {
	margin-top: 30px;
	color: #4dac98;
}

.br-box {
	width: 95%;
	margin: 100px auto 20px auto;
}

.banner {
	width: 100%;
	height: 400px;
}

.banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.container {
	margin-top: 20px;
	line-height: 1.8;
	background: #FFFFFF;
	border: 1px solid #f2f2f2;
	box-shadow: 2px 3px 5px #CCCCCC;
	padding: 10px;
	border-radius: 6px;
	letter-spacing: 2px;
	
}
.about-me {
	margin-top: 20px;
	line-height: 1.8;
	background: #FFFFFF;
	border: 1px solid #f2f2f2;
	box-shadow: 2px 3px 5px #CCCCCC;
	padding: 10px;
	border-radius: 6px;
	letter-spacing: 2px;
}

.about-me p {
	text-indent: 2em;
	margin: 5px 0;
}

.about-me img {
	display: block;
	max-width: 100%;
	margin: 5px auto 5px auto;
}

.work ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work ul li {
	width: 32%;
	margin: 20px 0;
	background: #f2f2f2;
}

.work ul li img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.work ul li p {
	margin: 10px;
}

.footer {
	background: #4dac98;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 20px;
}

.idea {
	width: 100%;
	padding: 20px 0;
	margin: auto;
}

.idea label {
	display: block;
	margin: 20px 0;
}

.idea input {
	width: 98%;
	height: 40px;
	padding-left: 2%;
	border-radius: 10px;
	border: 1px solid #333333;
	font-size: 16px;
}

.idea input[type='submit'] {
	display: block;
	width: 120px;
	margin: auto;
	cursor: pointer;
	padding-left: 0;
	background: #333333;
	color: #FFFFFF;
	font-size: 16px;
}

.idea input[type='submit']:hover {
	opacity: 0.8;
}

.idea textarea {
	width: 96%;
	height: 150px;
	padding: 2%;
	border-radius: 10px;
	font-size: 16px;
}
.login{
	/* 弹性布局 */
	display: flex;
	/* 换行 */
	flex-wrap: wrap;
	/* 水平居中 */
	justify-content: center;
	/* 垂直居中 */
	align-items: center;
	/* 长度设置为100% */
	width: 100%;
	/* 高度为70vh 浏览器高度为100vh */
	height: 75vh;
}
.login-f{
	/* 内边距为20px */
	padding: 20px;
	/* 设置长度 */
	width: 300px;
	/* 设置背景颜色 */
	background: #FFFFFF;
	/* 盒子阴影 */
	box-shadow: 2px 3px 5px #CCCCCC;
	/* 圆弧角度 */
	border-radius: 10px;
}
.login h3{
	/* 文字间距设置为3px */
	letter-spacing: 3px;
	/* 设置字体大小 */
	font-size: 22px;
	/* 设置字体颜色 */
	color: #333333;
	/* 下侧外边距为20px */
	margin-bottom: 20px;
	justify-content: center;
}
/* 账号密码框 */
.login-box input{
	/* 设置长度 */
	width: 95%;
	/* 设置高度 */
	height: 35px;
	/* 设置行高 */
	line-height: 35px;
	/* 下册外边距为15 */
	margin-bottom: 15px;
	/* 左侧内边距 */
	padding-left: 5%;
	/* 设置边框 */
	border: 1px solid #CCCCCC;
	/* 设置圆弧 */
	border-radius: 6px;
}
/* 按钮 */
.login button{
	/* 设置为块级元素 */
	display: block;
	/* 设置背景颜色 */
	background: #4dac98;
	/* 设置长度 */
	width: 180px;
	/* 设置高度 */
	height: 35px;
	/* 去除边框 */
	border: none;
	/* 设置文字颜色 */
	color: #FFFFFF;
	/* 设置字体大小 */
	font-size: 15px;
	/* 设置弧度 */
	border-radius: 6px;
	margin: 15px auto 10px auto;
	letter-spacing: 3px;
}
/* 登陆下侧文字 */
.login p{
	/* 设置字体大小 */
	font-size: 12px;
	/* 文字居中 */
	text-align: center;
	/* 字体颜色 */
	color: #999999;
}
.login p a{
	/* 字体颜色 */
	color: #016bd9;
}
.footer  .share{
	margin:10px 0;
  }
  
.footer .share a{
	text-decoration: none; 
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 50%;
	color:var(--black);
	background: var(--light-bg);
	color: #FFF;
}